---
import type { HTMLAttributes } from 'astro/types';

interface Link extends HTMLAttributes<'a'> {
    text: string;
    href: string;
}


interface Props {
    title: string;
    links: Array<Link>
}

const { title, links } = Astro.props;
---

<details>
    <summary class="block text-lg text-white cursor-pointer">
        <h2>{title}</h2>
    </summary>
    <ul>
        {links.map(l => (
            <li>
                <a {...l}>{l.text}</a>
            </li>
        ))}
    </ul>
</details>