---
import Chips from "@components/layout/header/Chips.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
import Chip from "@components/layout/header/Chip.svelte";
import NiceBar from "@components/layout/header/NiceBar.svelte";
---


<BaseLayout title="Home">
	<div class="m-4 border border-b-0 border-slate-700 flex flex-col">
		<h1>Hello!</h1>
		<p>How are you?</p>
		<NiceBar client:load />
	</div>
	<h1>page</h1>

	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p id="cool">cool</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p id="wow">WOWOWOWOW</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
</BaseLayout>

