---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
	<h1>page</h1>

	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p id="cool">cool</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p id="wow">WOWOWOWOW</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
	<p>content</p>
</BaseLayout>

