---
import NiceBar from "@components/layout/header/NiceBar.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
import VeryTallVerticalContent from "./_VeryTallVerticalContent.svelte";
---


<BaseLayout title="Home">
	<div class="p-4 border-b border-slate-700">
		<h1>The Home Page!</h1>
	</div>

	<NiceBar client:idle />

	<VeryTallVerticalContent client:idle />
</BaseLayout>
