---
import Header from "../header/Header.astro"
import Alert from "./Alert.svelte";
---


<div id="top-sticky" class="backdrop-blur sticky top-0 font-semibold w-[100vw] z-[9999]">
    <Alert client:idle />
    <Header />
</div>

<div id="top-scrollable">
    <slot />
</div>


<script src="./resize.ts"></script>